{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'question/css/question_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">質問投稿サイト</h1>
            <hr class="my-4">
            <p>質問詳細</p>
        </div>
    </div>
    <div class="container">

        <div class="post">
            <div class ="image">
                {% if question.image_1 %}
                    <img src="{{ question.image_1.url }}" style="width:300px;height:auto" alt="画像１">
                {% endif %}
                {% if question.image_2 %}
                    <img src="{{ question.image_2.url }}" style="width:300px;height:auto" alt="画像２">
                {% endif %}
                {% if question.image_3 %}
                    <img src="{{ question.image_3.url }}" style="width:300px;height:auto" alt="画像３">
                {% endif %}
                {% if question.image_4 %}
                    <img src="{{ question.image_4.url }}" style="width:300px;height:auto" alt="画像４">
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="accordion" id="accordionFlushExample1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h4><strong>タイトル</strong></h4>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5><strong>{{ question.title }}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="accordionFlushExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <h4><strong>カテゴリ</strong></h4>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5><strong>{{ question.get_category_display }}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="accordionFlushExample3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                            <h4><strong>回答レベル</strong></h4>
                        </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse show" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5><strong>{{ question.get_level_display }}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="accordionFlushExample4">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                            <h4><strong>エラー内容</strong></h4>
                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse show" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5><strong>{{ question.content }}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="accordionFlushExample5">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                            <h4><strong>試した対処法や自分の考え</strong></h4>
                        </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse show" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5><strong>{{ question.idea }}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion" id="accordionFlushExample6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                            <h4><strong>質問投稿日</strong></h4>
                        </button>
                    </h2>
                    <div id="flush-collapse6" class="accordion-collapse collapse show" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5><strong>{{ question.create }}</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <hr class="my-4">
        <div>
            {% include 'question/comment.html' %}
        </div>
    
        <div class="container">
            <p class="btn-content"><a href="{% url 'question:list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
        </div>
    </div>
{% endblock content %}