{% extends 'base.html' %}
{% load static %}

{% block title %}gacha{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">Gacha</h1>
        <hr class="my-4">
        <p>ガチャ</p>
      </div>
    </div>
    {% if user.username %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for gacha_title in gacha_titles %}
                    <div class="col-auto one-card">
                        <div class="card" style="width: 20rem;">
                            <img src="{{ gacha_title.image.url }}" class="" alt="画像です。" height="300" width=100%>
                            <div class="card-body">
                                <h4 class="card-title">{{ gacha_title.title }}</h4>
                                <div class="btns">
                                    <p class="btn-content btns-btn">
                                        <a href="{% url 'gacha:gacha_detail' user.username gacha_title.title %}" class="btn stretched-link" style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button" aria-disabled="true">
                                            このガチャを回す
                                            <i class="fas fa-sync-alt"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <h3>ログインしてください！</h3>
        </div>
    {% endif %}
{% endblock %}