{% extends 'base.html' %}
{% load static %}

{% block title %}gacha_detail{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">Gacha Detail</h1>
        <hr class="my-4">
        <p>ガチャ詳細</p>
      </div>
    </div>
    {% if user.username and message == "NO" %}
        <div class="container">
            {% if counter.counter > 0 %}
                <h3 style="color: red; font-weight: bold">{{ counter.counter }}回ガチャを回せます。</h3>
                <div class="btns">
                    <p class="btn-content btns-btn">
                        <a href="{% url 'gacha:gacha_play' user.username gacha_title %}"
                            class="btn" onclick='return confirm("本当に回しますか？");'
                            style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button" aria-disabled="true">
                            ガチャを回す
                            <i class="fas fa-sync-alt"></i>
                        </a>
                    </p>
                </div>
            {% else %}
                <h3 style="color: red; font-weight: bold">ガチャを回せません。</h3>
                <h3 style="font-weight: bold">スキルチェック結果を新たに登録することでガチャを回すことができます。</h3>
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for gacha_item in gacha_items %}
                    <div class="col-auto one-card">
                        <div class="card" style="width: 20rem;">
                            <img src="{{ gacha_item.image.url }}" class="gacha-title-img" alt="画像です。" height="auto" width="auto">
                            <div class="card-body">
                                <h4 class="card-title">{{ gacha_item.name }}</h4>
                                <h4 class="card-title">レア度：{{ gacha_item.rare }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% elif user.username and message == "OK" %}
        <div class="container-fluid">
            {% if counter.counter > 0 %}
                <h3 style="color: red; font-weight: bold">{{ counter.counter }}回ガチャを回せます。</h3>
                <div class="btns">
                    <p class="btn-content btns-btn">
                        <a href="{% url 'gacha:gacha_play' user.username gacha_title %}" class="btn" style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button" aria-disabled="true">
                            もう一度回す
                            <i class="fas fa-sync-alt"></i>
                        </a>
                    </p>
                </div>
            {% else %}
                <h3 style="color: red; font-weight: bold">ガチャを回せません。</h3>
                <h3 style="font-weight: bold">スキルチェック結果を新たに登録することでガチャを回すことができます。</h3>
            {% endif %}
        </div>
        <div class="container-fluid">
            <img src="{{ item.image.url }}" class="gacha-title-img" alt="画像です。" height="300" width="auto">
            <h2>{{ item.name }}</h2>
            <h3>{{ item.rare }}</h3>
        </div>
    {% else %}
        <div class="container">
            <h3>ログインしてください！</h3>
        </div>
    {% endif %}
{% endblock %}