{% extends 'base.html' %}
{% load static %}

{% block title %}gacha_items{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">Gacha Items</h1>
        <hr class="my-4">
        <p>取得ガチャアイテム</p>
      </div>
    </div>
    {% if user.username %}
        <div class="row justify-content-center">
            {% for gacha_item in gacha_items %}
                <div class="col-auto one-card">
                    <div class="card" style="width: 20rem;">
                        <img src="{{ gacha_item.image.url }}" class="" alt="画像です。" height="300" width=100%>
                        <div class="card-body">
                            <h4 class="card-title">{{ gacha_item.name }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container">
            <h3>ログインしてください！</h3>
        </div>
    {% endif %}
{% endblock %}