{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}LogIn{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
          <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">ログイン</h1>
            <hr class="my-4">
            <p>ログインしてください！</p>
          </div>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
                <label for="id_username" style="margin-top: 2rem">ユーザー名</label>
                <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                       maxlength="150" placeholder="ユーザー名" required="" id="id_username">
                <label for="id_password" style="margin-top: 2rem">パスワード</label>
                <input type="password" class="form-control" name="password" autocomplete="current-password"
                       placeholder="パスワード" required="" id="id_password">
            <button type="submit" class="btn btn-secondary" style="margin-top: 2rem">ログイン</button>
        </form>
    </div>
{% endblock %}