{% extends 'base.html' %}
{% load static %}

{% block title %}profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">Profile</h1>
            <hr class="my-4">
            <h4>{{ username }}</h4>
            {% if message == No %}
                <h4>全体平均正答率：{{ average_current }}</h4>
            {% endif %}
{#            <form action="{% url 'skill:aggregation' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">#}
{#                    <option selected>ランクを指定してください。</option>#}
{#                    <option value="1">One</option>#}
{#                </select>#}
{#                <input hidden type="text" name="questions" value="{{ questions }}">#}
{#                <input hidden id="nexr-question" type="submit" value="集計" style="margin: 5px 0">#}
{#            </form>#}
        </div>
    </div>
    <div class="container">
        {% if result == "no" %}
            <p>成績はまだ登録されていません。</p>
        {% else %}
            <div class="container">
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">回答数：{{ result.present_number }}</h5>
                        <h5 class="card-title">合計点数：{{ result.total_points }}</h5>
                        <h5 class="card-title">平均点：{{ result.average_point }}</h5>
                        <a href="https://paiza.jp/student/mypage/status" target="_blank" class="btn btn-warning">
                            Go Paiza Status
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container">
        {% if message == No %}
            <div class="container">
                <div class="row">
                    {% for user_data in user_datas %}
                    <div class="col-3" style="margin-bottom: 2rem">
                        <div class="card text-white bg-success">
                            <div class="card-body">
                                <h5 class="card-title">問題番号：{{ user_data.question_number }}</h5>
                                <p class="card-text">問題レベル：{{ user_data.question_level }}</p>
                                <p class="card-text">回答時間：{{ user_data.answer_time }}</p>
                                <p class="card-text">点数：{{ user_data.score }}</p>
                                <a href="https://paiza.jp/challenges/ranks/{{ user_data.question_level }}" target="_blank" class="btn btn-warning">
                                    Go Paiza
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>データがありません。</p>
        {% endif %}
    </div>
{% endblock %}
