{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">Profile</h1>
        <hr class="my-4">
        <p>プロフィール</p>
      </div>
    </div>
    <div class="container">
        <h1>Profile</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="保存">
    </form>
    </div>
{% endblock %}